{% extends "layout/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    {% csrf_token %}
                    <h4>Etes-vous sûr de supprimer votre article ?</h4>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}